USE [QLTV_TTCS]
GO
/****** Object:  Table [dbo].[BAOTAPCHI]    Script Date: 6/22/2023 12:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOTAPCHI](
	[MABAO] [int] IDENTITY(1,1) NOT NULL,
	[NAMPHATHANH] [date] NOT NULL,
	[DINHKY] [nvarchar](50) NOT NULL,
	[MANHAXB] [int] NOT NULL,
	[MATAILIEU] [int] NOT NULL,
 CONSTRAINT [PK__BAOTAPCH__4033B61B490677CC] PRIMARY KEY CLUSTERED 
(
	[MABAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITETSACH]    Script Date: 6/22/2023 12:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITETSACH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MASACH] [int] NOT NULL,
	[MATACGIA] [int] NOT NULL,
 CONSTRAINT [PK__CHITETSA__3214EC27CF37EA45] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC,
	[MATACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUONSACH]    Script Date: 6/22/2023 12:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUONSACH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STT] [int] NOT NULL,
	[MALANXB] [int] NOT NULL,
	[TINHTRANG] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_CUONSACH] PRIMARY KEY CLUSTERED 
(
	[STT] ASC,
	[MALANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 6/22/2023 12:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[SOTHEDOCGIA] [int] IDENTITY(1,1) NOT NULL,
	[NGAYCAPTHE] [date] NOT NULL,
	[HO] [nvarchar](30) NOT NULL,
	[TEN] [nvarchar](30) NOT NULL,
	[NGHENGHIEP] [nvarchar](30) NOT NULL,
	[PHAI] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK__DOCGIA__65642FFDD307297F] PRIMARY KEY CLUSTERED 
(
	[SOTHEDOCGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KYXUATBAN]    Script Date: 6/22/2023 12:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYXUATBAN](
	[MAKYXB] [int] NOT NULL,
	[THOIGIANNHAP] [date] NULL,
	[SOXUATBAN] [nvarchar](50) NOT NULL,
	[SOLUONGNHAP] [int] NOT NULL,
	[SOLUONGCON] [int] NOT NULL,
	[MABAO] [int] NOT NULL,
 CONSTRAINT [PK__KYXUATBA__210B16604E0EC650] PRIMARY KEY CLUSTERED 
(
	[MAKYXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LANXUATBAN]    Script Date: 6/22/2023 12:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LANXUATBAN](
	[MALANXB] [int] IDENTITY(1,1) NOT NULL,
	[LANXUATBAN] [nvarchar](30) NOT NULL,
	[NAMXUATBAN] [date] NOT NULL,
	[KHOGIAY] [nvarchar](30) NOT NULL,
	[SOTRANG] [nvarchar](30) NOT NULL,
	[MANHAXB] [int] NOT NULL,
	[GIA] [real] NOT NULL,
	[CODIACD] [bit] NOT NULL,
	[MASACH] [int] NOT NULL,
 CONSTRAINT [PK__LANXUATB__410647E0EF0DD64C] PRIMARY KEY CLUSTERED 
(
	[MALANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/22/2023 12:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[HO] [nvarchar](30) NOT NULL,
	[TEN] [nvarchar](30) NOT NULL,
	[PHAI] [nvarchar](10) NOT NULL,
	[CHUCVU] [nvarchar](50) NOT NULL,
	[TENDANGNHAP] [varchar](50) NULL,
	[MATKHAU] [varchar](50) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK__NHANVIEN__7E46DD914E107F59] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 6/22/2023 12:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[SDT] [varchar](50) NOT NULL,
 CONSTRAINT [PK_NHAXUABAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUON]    Script Date: 6/22/2023 12:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUON](
	[MAMUON] [int] IDENTITY(1,1) NOT NULL,
	[NGAYMUON] [date] NOT NULL,
	[NGAYTRA] [date] NULL,
	[TRANGTHAITRA] [bit] NOT NULL,
	[SOTHEDOCGIA] [int] NOT NULL,
	[MAKYXB] [int] NULL,
	[IDCUONSACH] [int] NULL,
	[MANHANVIENLAP] [int] NOT NULL,
 CONSTRAINT [PK__PHIEUMUO__5065699E9364DE76] PRIMARY KEY CLUSTERED 
(
	[MAMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 6/22/2023 12:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATACGIA] [int] IDENTITY(1,1) NOT NULL,
	[TENTACGIA] [nvarchar](30) NOT NULL,
	[NAMSINH] [date] NOT NULL,
 CONSTRAINT [PK__TACGIA__C57C166D646CBC5F] PRIMARY KEY CLUSTERED 
(
	[MATACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAILIEU]    Script Date: 6/22/2023 12:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAILIEU](
	[MATAILIEU] [int] IDENTITY(1,1) NOT NULL,
	[TENTAILIEU] [nvarchar](100) NOT NULL,
	[LOAITAILIEU] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK__TAILIEU__B63C63A980014D67] PRIMARY KEY CLUSTERED 
(
	[MATAILIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUASACH]    Script Date: 6/22/2023 12:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUASACH](
	[MASACH] [int] IDENTITY(1,1) NOT NULL,
	[MATAILIEU] [int] NOT NULL,
 CONSTRAINT [PK__TUASACH__3FC48E4C0B8AC212] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_BAOTAPCHI]    Script Date: 6/22/2023 12:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VIEW_BAOTAPCHI]
AS
SELECT
    KYXUATBAN.MAKYXB,
    KYXUATBAN.THOIGIANNHAP,
    KYXUATBAN.SOXUATBAN,
    KYXUATBAN.SOLUONGNHAP,
    KYXUATBAN.SOLUONGCON,
    KYXUATBAN.MABAO,
    BAOTAPCHI.NAMPHATHANH,
    BAOTAPCHI.DINHKY,
    BAOTAPCHI.MANHAXB,
	NHAXUATBAN.TEN AS TENNHAXB,
    BAOTAPCHI.MATAILIEU,
    TAILIEU.TENTAILIEU
FROM
    KYXUATBAN
    JOIN BAOTAPCHI ON KYXUATBAN.MABAO = BAOTAPCHI.MABAO
    JOIN TAILIEU ON BAOTAPCHI.MATAILIEU = TAILIEU.MATAILIEU
	JOIN NHAXUATBAN ON NHAXUATBAN.ID = BAOTAPCHI.MANHAXB 
GO
/****** Object:  View [dbo].[VIEW_SACH]    Script Date: 6/22/2023 12:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[VIEW_SACH]
AS
SELECT
    CUONSACH.ID,
    CUONSACH.STT,
    CUONSACH.MALANXB,
    LANXUATBAN.MASACH,
    CUONSACH.TINHTRANG,
    TAILIEU.TENTAILIEU,
    STUFF((
    SELECT DISTINCT ', ' + TACGIA.TENTACGIA
    FROM dbo.LANXUATBAN AS sub_lanxuatban
    JOIN dbo.TUASACH AS sub_tuasach ON sub_lanxuatban.MASACH = sub_tuasach.MASACH
    JOIN dbo.CHITETSACH AS sub_chitetsach ON sub_chitetsach.MASACH = sub_tuasach.MASACH
    JOIN dbo.TACGIA ON sub_chitetsach.MATACGIA = TACGIA.MATACGIA
    WHERE sub_lanxuatban.MALANXB = LANXUATBAN.MALANXB
    AND sub_lanxuatban.MASACH = LANXUATBAN.MASACH
    FOR XML PATH('')
    ), 1, 2, '') AS TACGIA,
    LANXUATBAN.LANXUATBAN,
    LANXUATBAN.NAMXUATBAN,
    LANXUATBAN.KHOGIAY,
    LANXUATBAN.SOTRANG,
    NHAXUATBAN.TEN,
    LANXUATBAN.GIA,
    LANXUATBAN.CODIACD
FROM
    dbo.CUONSACH
    JOIN dbo.LANXUATBAN ON LANXUATBAN.MALANXB = CUONSACH.MALANXB
	JOIN dbo.NHAXUATBAN ON NHAXUATBAN.ID = LANXUATBAN.MALANXB
    JOIN dbo.TUASACH ON LANXUATBAN.MASACH = TUASACH.MASACH
    JOIN dbo.TAILIEU ON TAILIEU.MATAILIEU = TUASACH.MATAILIEU
    JOIN dbo.CHITETSACH ON CHITETSACH.MASACH = TUASACH.MASACH
    JOIN dbo.TACGIA ON CHITETSACH.MATACGIA = TACGIA.MATACGIA
WHERE CUONSACH.MALANXB >= 1
GO
SET IDENTITY_INSERT [dbo].[BAOTAPCHI] ON 

INSERT [dbo].[BAOTAPCHI] ([MABAO], [NAMPHATHANH], [DINHKY], [MANHAXB], [MATAILIEU]) VALUES (1, CAST(N'1955-02-15' AS Date), N'Thứ 4,6,7,CN.', 1, 6)
INSERT [dbo].[BAOTAPCHI] ([MABAO], [NAMPHATHANH], [DINHKY], [MANHAXB], [MATAILIEU]) VALUES (2, CAST(N'1959-12-05' AS Date), N'Thứ 2, 3, 4, 5, 6, 7', 3, 7)
INSERT [dbo].[BAOTAPCHI] ([MABAO], [NAMPHATHANH], [DINHKY], [MANHAXB], [MATAILIEU]) VALUES (3, CAST(N'2016-08-19' AS Date), N'Hàng tháng', 5, 8)
SET IDENTITY_INSERT [dbo].[BAOTAPCHI] OFF
GO
SET IDENTITY_INSERT [dbo].[CHITETSACH] ON 

INSERT [dbo].[CHITETSACH] ([ID], [MASACH], [MATACGIA]) VALUES (1, 1, 1)
INSERT [dbo].[CHITETSACH] ([ID], [MASACH], [MATACGIA]) VALUES (2, 2, 2)
INSERT [dbo].[CHITETSACH] ([ID], [MASACH], [MATACGIA]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[CHITETSACH] OFF
GO
SET IDENTITY_INSERT [dbo].[CUONSACH] ON 

INSERT [dbo].[CUONSACH] ([ID], [STT], [MALANXB], [TINHTRANG]) VALUES (1, 1, 1, N'Tốt')
INSERT [dbo].[CUONSACH] ([ID], [STT], [MALANXB], [TINHTRANG]) VALUES (3, 1, 2, N'Tốt')
INSERT [dbo].[CUONSACH] ([ID], [STT], [MALANXB], [TINHTRANG]) VALUES (5, 1, 3, N'Tốt')
SET IDENTITY_INSERT [dbo].[CUONSACH] OFF
GO
SET IDENTITY_INSERT [dbo].[DOCGIA] ON 

INSERT [dbo].[DOCGIA] ([SOTHEDOCGIA], [NGAYCAPTHE], [HO], [TEN], [NGHENGHIEP], [PHAI]) VALUES (1, CAST(N'2023-01-01' AS Date), N'Nguyễn Thị', N'C', N'Kỹ sư', N'Nữ')
INSERT [dbo].[DOCGIA] ([SOTHEDOCGIA], [NGAYCAPTHE], [HO], [TEN], [NGHENGHIEP], [PHAI]) VALUES (2, CAST(N'2023-01-02' AS Date), N'Lê Văn', N'D', N'Giáo viên', N'Nam')
INSERT [dbo].[DOCGIA] ([SOTHEDOCGIA], [NGAYCAPTHE], [HO], [TEN], [NGHENGHIEP], [PHAI]) VALUES (3, CAST(N'2023-01-03' AS Date), N'Trần Thị', N'E', N'Sinh viên', N'NỮ')
SET IDENTITY_INSERT [dbo].[DOCGIA] OFF
GO
INSERT [dbo].[KYXUATBAN] ([MAKYXB], [THOIGIANNHAP], [SOXUATBAN], [SOLUONGNHAP], [SOLUONGCON], [MABAO]) VALUES (1, CAST(N'2023-05-09' AS Date), N'1409', 30, 0, 1)
INSERT [dbo].[KYXUATBAN] ([MAKYXB], [THOIGIANNHAP], [SOXUATBAN], [SOLUONGNHAP], [SOLUONGCON], [MABAO]) VALUES (2, CAST(N'2023-05-19' AS Date), N'1409', 30, 0, 1)
INSERT [dbo].[KYXUATBAN] ([MAKYXB], [THOIGIANNHAP], [SOXUATBAN], [SOLUONGNHAP], [SOLUONGCON], [MABAO]) VALUES (3, CAST(N'2023-06-01' AS Date), N'1010', 50, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[LANXUATBAN] ON 

INSERT [dbo].[LANXUATBAN] ([MALANXB], [LANXUATBAN], [NAMXUATBAN], [KHOGIAY], [SOTRANG], [MANHAXB], [GIA], [CODIACD], [MASACH]) VALUES (1, N'1', CAST(N'2010-12-09' AS Date), N'13 x 20', N'378', 1, 138000, 1, 1)
INSERT [dbo].[LANXUATBAN] ([MALANXB], [LANXUATBAN], [NAMXUATBAN], [KHOGIAY], [SOTRANG], [MANHAXB], [GIA], [CODIACD], [MASACH]) VALUES (2, N'5', CAST(N'2018-05-05' AS Date), N'13 x 20', N'378', 1, 125000, 1, 1)
INSERT [dbo].[LANXUATBAN] ([MALANXB], [LANXUATBAN], [NAMXUATBAN], [KHOGIAY], [SOTRANG], [MANHAXB], [GIA], [CODIACD], [MASACH]) VALUES (3, N'1', CAST(N'2018-05-09' AS Date), N'13.5 x 20.5', N'250', 2, 54400, 0, 2)
SET IDENTITY_INSERT [dbo].[LANXUATBAN] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [PHAI], [CHUCVU], [TENDANGNHAP], [MATKHAU], [TRANGTHAI]) VALUES (1, N'Nguyen Van', N'A', N'Nam', N'Quản lý', N'admin', N'123', 1)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [PHAI], [CHUCVU], [TENDANGNHAP], [MATKHAU], [TRANGTHAI]) VALUES (2, N'Tran Thi', N'B', N'Nu', N'Nhân viên', N'user1', N'123', 1)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [PHAI], [CHUCVU], [TENDANGNHAP], [MATKHAU], [TRANGTHAI]) VALUES (3, N'Le Minh', N'C', N'Nam', N'Nhân viên', N'user2', N'123', 0)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] ON 

INSERT [dbo].[NHAXUATBAN] ([ID], [TEN], [DIACHI], [EMAIL], [SDT]) VALUES (1, N'NXB Trẻ', N'161B Lý Chính Thắng, Phường Võ Thị Sáu, Quận 3 , TP. Hồ Chí Minh
', N'hopthubandoc@nxbtre.com.vn', N'02839316289')
INSERT [dbo].[NHAXUATBAN] ([ID], [TEN], [DIACHI], [EMAIL], [SDT]) VALUES (2, N'NXB Văn Học', N'20 Đ. Nam Kỳ Khởi Nghĩa, Phường 8, Quận 3, Thành phố Hồ Chí Minh', N'info@nxbvanhoc.com.vn', N'02838469858')
INSERT [dbo].[NHAXUATBAN] ([ID], [TEN], [DIACHI], [EMAIL], [SDT]) VALUES (3, N'NXB Giáo Dục Việt Nam', N' Số 81 Trần Hưng Đạo, Hoàn Kiếm, Hà Nội.', N'nxbgd@moet.edu.vn', N'02438220801')
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUMUON] ON 

INSERT [dbo].[PHIEUMUON] ([MAMUON], [NGAYMUON], [NGAYTRA], [TRANGTHAITRA], [SOTHEDOCGIA], [MAKYXB], [IDCUONSACH], [MANHANVIENLAP]) VALUES (1, CAST(N'2023-05-01' AS Date), NULL, 0, 1, 1, NULL, 1)
INSERT [dbo].[PHIEUMUON] ([MAMUON], [NGAYMUON], [NGAYTRA], [TRANGTHAITRA], [SOTHEDOCGIA], [MAKYXB], [IDCUONSACH], [MANHANVIENLAP]) VALUES (2, CAST(N'2023-05-02' AS Date), CAST(N'2023-05-23' AS Date), 1, 1, NULL, 1, 2)
INSERT [dbo].[PHIEUMUON] ([MAMUON], [NGAYMUON], [NGAYTRA], [TRANGTHAITRA], [SOTHEDOCGIA], [MAKYXB], [IDCUONSACH], [MANHANVIENLAP]) VALUES (3, CAST(N'2023-05-20' AS Date), NULL, 0, 1, 6, 11, 2)
SET IDENTITY_INSERT [dbo].[PHIEUMUON] OFF
GO
SET IDENTITY_INSERT [dbo].[TACGIA] ON 

INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA], [NAMSINH]) VALUES (1, N'Nguyễn Nhật Ánh', CAST(N'1955-07-05' AS Date))
INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA], [NAMSINH]) VALUES (2, N'Nguyễn Du', CAST(N'1766-01-03' AS Date))
INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA], [NAMSINH]) VALUES (3, N'Phạm Văn Hải', CAST(N'1953-09-23' AS Date))
SET IDENTITY_INSERT [dbo].[TACGIA] OFF
GO
SET IDENTITY_INSERT [dbo].[TAILIEU] ON 

INSERT [dbo].[TAILIEU] ([MATAILIEU], [TENTAILIEU], [LOAITAILIEU]) VALUES (1, N'Tôi thấy hoa vàng trên cỏ xanh', N'Sách')
INSERT [dbo].[TAILIEU] ([MATAILIEU], [TENTAILIEU], [LOAITAILIEU]) VALUES (2, N'Thơ Nguyễn Du', N'Sách')
INSERT [dbo].[TAILIEU] ([MATAILIEU], [TENTAILIEU], [LOAITAILIEU]) VALUES (3, N'Lý thuyết đồ thị và ứng dụng', N'Sách')
SET IDENTITY_INSERT [dbo].[TAILIEU] OFF
GO
SET IDENTITY_INSERT [dbo].[TUASACH] ON 

INSERT [dbo].[TUASACH] ([MASACH], [MATAILIEU]) VALUES (1, 1)
INSERT [dbo].[TUASACH] ([MASACH], [MATAILIEU]) VALUES (2, 2)
INSERT [dbo].[TUASACH] ([MASACH], [MATAILIEU]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[TUASACH] OFF
GO
/****** Object:  Index [UQ_CUONSACH_ID]    Script Date: 6/22/2023 12:45:20 AM ******/
ALTER TABLE [dbo].[CUONSACH] ADD  CONSTRAINT [UQ_CUONSACH_ID] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DOCGIA] ADD  CONSTRAINT [DF_DOCGIA_PHAI]  DEFAULT (N'NAM') FOR [PHAI]
GO
ALTER TABLE [dbo].[BAOTAPCHI]  WITH CHECK ADD  CONSTRAINT [FK_BAOTAPCHI_NHAXUATBAN] FOREIGN KEY([MANHAXB])
REFERENCES [dbo].[NHAXUATBAN] ([ID])
GO
ALTER TABLE [dbo].[BAOTAPCHI] CHECK CONSTRAINT [FK_BAOTAPCHI_NHAXUATBAN]
GO
ALTER TABLE [dbo].[BAOTAPCHI]  WITH NOCHECK ADD  CONSTRAINT [FK_BAOTC_TAILIEU] FOREIGN KEY([MATAILIEU])
REFERENCES [dbo].[TAILIEU] ([MATAILIEU])
GO
ALTER TABLE [dbo].[BAOTAPCHI] CHECK CONSTRAINT [FK_BAOTC_TAILIEU]
GO
ALTER TABLE [dbo].[CHITETSACH]  WITH CHECK ADD  CONSTRAINT [FK__CHITETSACH__MATACGIA] FOREIGN KEY([MATACGIA])
REFERENCES [dbo].[TACGIA] ([MATACGIA])
GO
ALTER TABLE [dbo].[CHITETSACH] CHECK CONSTRAINT [FK__CHITETSACH__MATACGIA]
GO
ALTER TABLE [dbo].[CHITETSACH]  WITH CHECK ADD  CONSTRAINT [FK__CHITETSACH__TUASACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[TUASACH] ([MASACH])
GO
ALTER TABLE [dbo].[CHITETSACH] CHECK CONSTRAINT [FK__CHITETSACH__TUASACH]
GO
ALTER TABLE [dbo].[CUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_CUONSACH_LANXUATBAN] FOREIGN KEY([MALANXB])
REFERENCES [dbo].[LANXUATBAN] ([MALANXB])
GO
ALTER TABLE [dbo].[CUONSACH] CHECK CONSTRAINT [FK_CUONSACH_LANXUATBAN]
GO
ALTER TABLE [dbo].[LANXUATBAN]  WITH CHECK ADD  CONSTRAINT [FK_LANXB_NHAXB] FOREIGN KEY([MANHAXB])
REFERENCES [dbo].[NHAXUATBAN] ([ID])
GO
ALTER TABLE [dbo].[LANXUATBAN] CHECK CONSTRAINT [FK_LANXB_NHAXB]
GO
ALTER TABLE [dbo].[LANXUATBAN]  WITH CHECK ADD  CONSTRAINT [FK_LANXB_TUASACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[TUASACH] ([MASACH])
GO
ALTER TABLE [dbo].[LANXUATBAN] CHECK CONSTRAINT [FK_LANXB_TUASACH]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUON_CUONSACH] FOREIGN KEY([IDCUONSACH])
REFERENCES [dbo].[CUONSACH] ([ID])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUON_CUONSACH]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUON_DOCGIA] FOREIGN KEY([SOTHEDOCGIA])
REFERENCES [dbo].[DOCGIA] ([SOTHEDOCGIA])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUON_DOCGIA]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUON_KYXB] FOREIGN KEY([MAKYXB])
REFERENCES [dbo].[KYXUATBAN] ([MAKYXB])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUON_KYXB]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUON_NHANVIEN] FOREIGN KEY([MANHANVIENLAP])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUON_NHANVIEN]
GO
ALTER TABLE [dbo].[TUASACH]  WITH CHECK ADD  CONSTRAINT [FK_TUASACH_TAILIEU] FOREIGN KEY([MATAILIEU])
REFERENCES [dbo].[TAILIEU] ([MATAILIEU])
GO
ALTER TABLE [dbo].[TUASACH] CHECK CONSTRAINT [FK_TUASACH_TAILIEU]
GO
ALTER TABLE [dbo].[DOCGIA]  WITH CHECK ADD  CONSTRAINT [CK_PHAI] CHECK  (([PHAI]=N'NAM' OR [PHAI]=N'NỮ'))
GO
ALTER TABLE [dbo].[DOCGIA] CHECK CONSTRAINT [CK_PHAI]
GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCH_BAOTAPCHI]    Script Date: 6/22/2023 12:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SEARCH_BAOTAPCHI]
(
    @MAKYXB VARCHAR(50) = NULL,
    @THOIGIANNHAP DATETIME = NULL,
    @SOXUATBAN INT = NULL,
    @SOLUONGNHAP INT = NULL,
    @SOLUONGCON INT = NULL,
    @MABAO VARCHAR(50) = NULL,
    @NAMPHATHANH DATE = NULL,
    @DINHKY VARCHAR(50) = NULL,
    @MANHAXB INT = NULL,
    @TENTAILIEU NVARCHAR(100) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        KYXUATBAN.MAKYXB,
        KYXUATBAN.THOIGIANNHAP,
        KYXUATBAN.SOXUATBAN,
        KYXUATBAN.SOLUONGNHAP,
        KYXUATBAN.SOLUONGCON,
        KYXUATBAN.MABAO,
        BAOTAPCHI.NAMPHATHANH,
        BAOTAPCHI.DINHKY,
        BAOTAPCHI.MANHAXB,
        NHAXUATBAN.TEN AS TENNHAXB,
        BAOTAPCHI.MATAILIEU,
        TAILIEU.TENTAILIEU
    FROM
        KYXUATBAN
        JOIN BAOTAPCHI ON KYXUATBAN.MABAO = BAOTAPCHI.MABAO
        JOIN TAILIEU ON BAOTAPCHI.MATAILIEU = TAILIEU.MATAILIEU
        JOIN NHAXUATBAN ON NHAXUATBAN.ID = BAOTAPCHI.MANHAXB 
    WHERE
        (@MAKYXB IS NULL OR KYXUATBAN.MAKYXB = @MAKYXB OR @MAKYXB = '')
        AND (@THOIGIANNHAP IS NULL OR KYXUATBAN.THOIGIANNHAP = @THOIGIANNHAP OR @ThoiGianNhap = '')
        AND (@SOXUATBAN IS NULL OR KYXUATBAN.SOXUATBAN = @SOXUATBAN)
        AND (@SOLUONGNHAP IS NULL OR KYXUATBAN.SOLUONGNHAP = @SOLUONGNHAP)
        AND (@SOLUONGCON IS NULL OR KYXUATBAN.SOLUONGCON = @SOLUONGCON)
        AND (@MABAO IS NULL OR KYXUATBAN.MABAO = @MABAO OR @MABAO = '')
        AND (@NAMPHATHANH IS NULL OR BAOTAPCHI.NAMPHATHANH = @NAMPHATHANH)
        AND (@DINHKY IS NULL OR BAOTAPCHI.DINHKY = @DINHKY OR @DINHKY = '')
        AND (@MANHAXB IS NULL OR BAOTAPCHI.MANHAXB = @MANHAXB)
        AND (@TENTAILIEU IS NULL OR TAILIEU.TENTAILIEU LIKE '%' + @TENTAILIEU + '%')
    ORDER BY
        KYXUATBAN.THOIGIANNHAP DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCH_DOCGIA]    Script Date: 6/22/2023 12:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SEARCH_DOCGIA]
    @SoTheDocGia INT = NULL,
    @NgayCap DATE = NULL,
    @Ho NVARCHAR(30) = NULL,
    @Ten NVARCHAR(30) = NULL,
    @NgheNghiep NVARCHAR(30) = NULL,
    @Phai NVARCHAR(30) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM DOCGIA
    WHERE
        (ISNULL(@SoTheDocGia, '') = '' OR SoTheDocGia = @SoTheDocGia)
        AND (ISNULL(@NgayCap, '') = '' OR NgayCapThe = @NgayCap)
        AND (ISNULL(@Ho, '') = '' OR Ho LIKE '%' + @Ho + '%')
        AND (ISNULL(@Ten, '') = '' OR Ten LIKE '%' + @Ten + '%')
        AND (ISNULL(@NgheNghiep, '') = '' OR NgheNghiep = @NgheNghiep)
        AND (ISNULL(@Phai, '') = '' OR Phai = @Phai);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TimKiemBaoTapChi]    Script Date: 6/22/2023 12:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TimKiemBaoTapChi]
    @MaKyXB INT = NULL,
    @ThoiGianNhap NVARCHAR(50) = NULL,
    @SoXuatBan NVARCHAR(50) = NULL,
    @SoLuongNhap INT = NULL,
    @SoLuongCon INT = NULL,
    @MaBao INT = NULL,
    @NamPhatHanh DATE = NULL,
    @DinhKy NVARCHAR(50) = NULL,
    @MaNhaXB INT = NULL,
    @TenNhaXB NVARCHAR(50) = NULL,
    @MaTaiLieu INT = NULL,
    @TenTaiLieu NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM VIEW_BAOTAPCHI
    WHERE
        (@MaKyXB IS NULL OR MAKYXB = @MaKyXB)
        AND (ISNULL(@ThoiGianNhap, '') = '' OR ThoiGianNhap = @ThoiGianNhap)
        AND (ISNULL(@SoXuatBan, '') = '' OR SOXUATBAN = @SoXuatBan)
        AND (@SoLuongNhap IS NULL OR SOLUONGNHAP = @SoLuongNhap)
        AND (@SoLuongCon IS NULL OR SOLUONGCON = @SoLuongCon)
        AND (@MaBao IS NULL OR MABAO = @MaBao)
        AND (@NamPhatHanh IS NULL OR NAMPHATHANH = @NamPhatHanh)
        AND (ISNULL(@DinhKy, '') = '' OR DINHKY = @DinhKy)
        AND (@MaNhaXB IS NULL OR MANHAXB = @MaNhaXB)
        AND (ISNULL(@TenNhaXB, '') = '' OR TENNHAXB = @TenNhaXB)
        AND (@MaTaiLieu IS NULL OR MATAILIEU = @MaTaiLieu)
        AND (ISNULL(@TenTaiLieu, '') = '' OR TENTAILIEU = @TenTaiLieu);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_BAOTAPCHI]    Script Date: 6/22/2023 12:45:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_UPDATE_BAOTAPCHI] 
	@MABAO INT = NULL,
	@NAMPHATHANH DATE = NULL,
	@DINHKY NVARCHAR(50) = NULL,
	@NHAXUATBAN INT = NULL,
	@TENTAILIEU NVARCHAR(100) = NULL,
	@LOAITAILIEU NVARCHAR(30) = NULL
AS
BEGIN
	IF NOT EXISTS (SELECT * FROM BAOTAPCHI WHERE BAOTAPCHI.MABAO = @MABAO)
		RETURN 0;
	ELSE
		BEGIN
		UPDATE BAOTAPCHI
		SET NAMPHATHANH = @NAMPHATHANH, DINHKY = @DINHKY, MANHAXB = @NHAXUATBAN
		WHERE MABAO = @MABAO

		DECLARE @TEMPMTL INT
		SELECT @TEMPMTL = MATAILIEU FROM BAOTAPCHI WHERE MABAO = @MABAO

		UPDATE TAILIEU
		SET TENTAILIEU = @TENTAILIEU, LOAITAILIEU = @LOAITAILIEU
		WHERE MATAILIEU = @TEMPMTL
		END
END
GO
