USE [QLTV_TTCS]
GO
/****** Object:  DatabaseRole [NhanVien]    Script Date: 7/10/2023 12:03:44 PM ******/
CREATE ROLE [NhanVien]
GO
/****** Object:  DatabaseRole [QuanLy]    Script Date: 7/10/2023 12:03:44 PM ******/
CREATE ROLE [QuanLy]
GO
/****** Object:  UserDefinedFunction [dbo].[SOLUONGCON_TEST]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 27.06 / AFTERNOON
CREATE FUNCTION [dbo].[SOLUONGCON_TEST]
(
	@MABAO INT,
	@SOXUATBAN NVARCHAR(50)
)
RETURNS INT
AS
BEGIN
	DECLARE @SOLUONGCON INT;
	SELECT @SOLUONGCON = COUNT(*) FROM PHIEUMUON JOIN KYXUATBAN ON PHIEUMUON.MAKYXB = KYXUATBAN.MAKYXB
	WHERE @MABAO = KYXUATBAN.MABAO AND @SOXUATBAN = KYXUATBAN.SOXUATBAN AND PHIEUMUON.TRANGTHAITRA = 0
	RETURN @SOLUONGCON;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[STRING_SPLIT]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[STRING_SPLIT] (@string NVARCHAR(MAX), @delimiter CHAR(1))
RETURNS @output TABLE (value NVARCHAR(MAX))
BEGIN
    DECLARE @start INT, @end INT
    SELECT @start = 1, @end = CHARINDEX(@delimiter, @string)
    WHILE @start < LEN(@string) + 1 BEGIN
        IF @end = 0 
            SET @end = LEN(@string) + 1

        INSERT INTO @output (value) 
        VALUES(SUBSTRING(@string, @start, @end - @start))
        SET @start = @end + 1
        SET @end = CHARINDEX(@delimiter, @string, @start)

    END
    RETURN
END
GO
/****** Object:  Table [dbo].[BAOTAPCHI]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOTAPCHI](
	[MABAO] [int] IDENTITY(1,1) NOT NULL,
	[NAMPHATHANH] [date] NOT NULL,
	[DINHKY] [nvarchar](50) NOT NULL,
	[MANHAXB] [int] NOT NULL,
	[MATAILIEU] [int] NOT NULL,
 CONSTRAINT [PK__BAOTAPCH__4033B61B490677CC] PRIMARY KEY CLUSTERED 
(
	[MABAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITETSACH]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITETSACH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MASACH] [int] NOT NULL,
	[MATACGIA] [int] NOT NULL,
 CONSTRAINT [PK__CHITETSA__3214EC27CF37EA45] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC,
	[MATACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUONSACH]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUONSACH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STT] [int] NOT NULL,
	[MALANXB] [int] NOT NULL,
	[TINHTRANG] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_CUONSACH] PRIMARY KEY CLUSTERED 
(
	[STT] ASC,
	[MALANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[SOTHEDOCGIA] [int] IDENTITY(1,1) NOT NULL,
	[NGAYCAPTHE] [date] NOT NULL,
	[HO] [nvarchar](30) NOT NULL,
	[TEN] [nvarchar](30) NOT NULL,
	[NGHENGHIEP] [nvarchar](30) NOT NULL,
	[PHAI] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK__DOCGIA__65642FFDD307297F] PRIMARY KEY CLUSTERED 
(
	[SOTHEDOCGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KYXUATBAN]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYXUATBAN](
	[MAKYXB] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIANNHAP] [date] NOT NULL,
	[SOXUATBAN] [nvarchar](50) NOT NULL,
	[SOLUONGNHAP] [int] NOT NULL,
	[SOLUONGCON] [int] NOT NULL,
	[MABAO] [int] NOT NULL,
 CONSTRAINT [PK__KYXUATBA__210B16604E0EC650] PRIMARY KEY CLUSTERED 
(
	[MAKYXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LANXUATBAN]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LANXUATBAN](
	[MALANXB] [int] IDENTITY(1,1) NOT NULL,
	[LANXUATBAN] [nvarchar](30) NOT NULL,
	[NAMXUATBAN] [date] NOT NULL,
	[KHOGIAY] [nvarchar](30) NOT NULL,
	[SOTRANG] [nvarchar](30) NOT NULL,
	[MANHAXB] [int] NOT NULL,
	[GIA] [real] NOT NULL,
	[CODIACD] [bit] NOT NULL,
	[MASACH] [int] NOT NULL,
	[SOCUONNHAP] [int] NOT NULL,
 CONSTRAINT [PK__LANXUATB__410647E0EF0DD64C] PRIMARY KEY CLUSTERED 
(
	[MALANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[HO] [nvarchar](30) NULL,
	[TEN] [nvarchar](30) NULL,
	[PHAI] [nvarchar](10) NULL,
	[CHUCVU] [nvarchar](50) NOT NULL,
	[TENDANGNHAP] [varchar](50) NULL,
	[MATKHAU] [varchar](50) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK__NHANVIEN__7E46DD914E107F59] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[SDT] [varchar](50) NOT NULL,
 CONSTRAINT [PK_NHAXUABAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUONBAO]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUONBAO](
	[MAMUON] [int] IDENTITY(1,1) NOT NULL,
	[NGAYMUON] [date] NOT NULL,
	[NGAYTRA] [date] NULL,
	[TRANGTHAITRA] [bit] NOT NULL,
	[SOTHEDOCGIA] [int] NOT NULL,
	[MAKYXB] [int] NOT NULL,
	[MANHANVIENLAP] [int] NOT NULL,
 CONSTRAINT [PK_PHIEUMUONBAO] PRIMARY KEY CLUSTERED 
(
	[MAMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUONSACH]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUONSACH](
	[MAMUON] [int] IDENTITY(1,1) NOT NULL,
	[NGAYMUON] [date] NOT NULL,
	[NGAYTRA] [date] NULL,
	[TRANGTHAITRA] [bit] NOT NULL,
	[SOTHEDOCGIA] [int] NOT NULL,
	[IDCUONSACH] [int] NOT NULL,
	[MANHANVIENLAP] [int] NOT NULL,
 CONSTRAINT [PK_PHIEUMUONSACH] PRIMARY KEY CLUSTERED 
(
	[MAMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATACGIA] [int] IDENTITY(1,1) NOT NULL,
	[TENTACGIA] [nvarchar](30) NOT NULL,
	[NAMSINH] [date] NOT NULL,
 CONSTRAINT [PK__TACGIA__C57C166D646CBC5F] PRIMARY KEY CLUSTERED 
(
	[MATACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAILIEU]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAILIEU](
	[MATAILIEU] [int] IDENTITY(1,1) NOT NULL,
	[TENTAILIEU] [nvarchar](100) NOT NULL,
	[LOAITAILIEU] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK__TAILIEU__B63C63A980014D67] PRIMARY KEY CLUSTERED 
(
	[MATAILIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUASACH]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUASACH](
	[MASACH] [int] IDENTITY(1,1) NOT NULL,
	[MATAILIEU] [int] NOT NULL,
 CONSTRAINT [PK__TUASACH__3FC48E4C0B8AC212] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_CUONSACH]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[VIEW_CUONSACH] AS
SELECT DISTINCT
    CS.ID,
    CS.MALANXB,
    CS.STT,
	CS.TINHTRANG,
	TS.MASACH,
    TL.TENTAILIEU,
    STUFF((SELECT ', ' + TG.TENTACGIA
           FROM TACGIA TG
           JOIN CHITETSACH CT ON CT.MATACGIA = TG.MATACGIA
           WHERE CT.MASACH = TS.MASACH
           FOR XML PATH('')), 1, 2, '') AS TACGIA,
    LB.LANXUATBAN,
    LB.NAMXUATBAN,
    NB.TEN AS NHAXUATBAN,
    LB.KHOGIAY,
    LB.SOTRANG,
    LB.GIA,
    LB.CODIACD
FROM CUONSACH CS
JOIN LANXUATBAN LB ON CS.MALANXB = LB.MALANXB
JOIN NHAXUATBAN NB ON LB.MANHAXB = NB.ID
JOIN TUASACH TS ON LB.MASACH = TS.MASACH
JOIN CHITETSACH CT ON TS.MASACH = CT.MASACH
JOIN TACGIA TG ON CT.MATACGIA = TG.MATACGIA
JOIN TAILIEU TL ON TS.MATAILIEU = TL.MATAILIEU;
GO
/****** Object:  View [dbo].[VIEW_TENSACH_LANXB]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VIEW_TENSACH_LANXB]
AS
SELECT 
	VIEW_CUONSACH.MALANXB,
	VIEW_CUONSACH.TENTAILIEU,
	VIEW_CUONSACH.LANXUATBAN
    FROM VIEW_CUONSACH
GO
/****** Object:  View [dbo].[VIEW_GET_CUONSACH]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VIEW_GET_CUONSACH]
AS
SELECT 
	VIEW_CUONSACH.MALANXB,
	VIEW_CUONSACH.TENTAILIEU,
	VIEW_CUONSACH.LANXUATBAN
    FROM VIEW_CUONSACH
GO
/****** Object:  View [dbo].[VIEW_BAOTAPCHI]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[VIEW_BAOTAPCHI]
AS
SELECT
    KYXUATBAN.MAKYXB,
    KYXUATBAN.THOIGIANNHAP,
    KYXUATBAN.SOXUATBAN,
    KYXUATBAN.SOLUONGNHAP,
    KYXUATBAN.SOLUONGCON,
    KYXUATBAN.MABAO,
    BAOTAPCHI.NAMPHATHANH,
    BAOTAPCHI.DINHKY,
    BAOTAPCHI.MANHAXB,
	NHAXUATBAN.TEN AS TENNHAXB,
    BAOTAPCHI.MATAILIEU,
    TAILIEU.TENTAILIEU
FROM
    KYXUATBAN
    JOIN BAOTAPCHI ON KYXUATBAN.MABAO = BAOTAPCHI.MABAO
    JOIN TAILIEU ON BAOTAPCHI.MATAILIEU = TAILIEU.MATAILIEU
	JOIN NHAXUATBAN ON NHAXUATBAN.ID = BAOTAPCHI.MANHAXB 
GO
/****** Object:  View [dbo].[VIEW_BAOTAPCHI_3]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




create VIEW [dbo].[VIEW_BAOTAPCHI_3]
AS
SELECT
	BTC.MABAO,
	BTC.NAMPHATHANH,
	BTC.DINHKY,
	BTC.MANHAXB,
	NXB.TEN,
	BTC.MATAILIEU,
	TL.TENTAILIEU
FROM
    BAOTAPCHI AS BTC 
    JOIN TAILIEU AS TL ON BTC.MATAILIEU = TL.MATAILIEU
	JOIN NHAXUATBAN AS NXB ON NXB.ID = BTC.MANHAXB 
GO
/****** Object:  View [dbo].[VIEW_DETAILS_TUASACH]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VIEW_DETAILS_TUASACH] AS
SELECT
	LB.MALANXB,
    TS.MASACH,
    TL.TENTAILIEU,
    STUFF((SELECT ', ' + TG.TENTACGIA
           FROM TACGIA TG
           JOIN CHITETSACH CT ON CT.MATACGIA = TG.MATACGIA
           WHERE CT.MASACH = TS.MASACH
           FOR XML PATH('')), 1, 2, '') AS TACGIA,
    LB.LANXUATBAN,
    LB.NAMXUATBAN,
    NB.TEN AS NHAXUATBAN,
    LB.KHOGIAY,
    LB.SOTRANG,
    LB.GIA,
    LB.CODIACD,
    COUNT(CS.ID) AS SOCUONNHAP
FROM TUASACH TS
JOIN TAILIEU TL ON TS.MATAILIEU = TL.MATAILIEU
JOIN LANXUATBAN LB ON TS.MASACH = LB.MASACH
JOIN NHAXUATBAN NB ON LB.MANHAXB = NB.ID
JOIN CUONSACH CS ON LB.MALANXB = CS.MALANXB
GROUP BY
	LB.MALANXB,
    TS.MASACH,
    TL.TENTAILIEU,
    LB.LANXUATBAN,
    LB.NAMXUATBAN,
    NB.TEN,
    LB.KHOGIAY,
    LB.SOTRANG,
    LB.GIA,
    LB.CODIACD;
GO
/****** Object:  View [dbo].[VIEW_KYXB]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[VIEW_KYXB] AS
SELECT
	KXB.MAKYXB,
	KXB.THOIGIANNHAP,
	KXB.SOXUATBAN,
	KXB.SOLUONGNHAP,
	KXB.SOLUONGCON,
	KXB.MABAO,
	TL.TENTAILIEU
FROM KYXUATBAN KXB
JOIN BAOTAPCHI BTC ON BTC.MABAO = KXB.MABAO
JOIN TAILIEU TL ON TL.MATAILIEU = BTC.MATAILIEU

GO
/****** Object:  View [dbo].[VIEW_LANXB]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VIEW_LANXB] AS
SELECT
    LB.MALANXB,
    LB.MASACH,
    LB.LANXUATBAN AS LANXB,
    LB.NAMXUATBAN AS NAMXB,
	NB.ID AS MANHAXB,
    NB.TEN AS NHAXB,
    LB.KHOGIAY,
    LB.SOTRANG,
    LB.GIA,
    LB.CODIACD,
    LB.SOCUONNHAP
FROM TUASACH TS
JOIN TAILIEU TL ON TS.MATAILIEU = TL.MATAILIEU
JOIN LANXUATBAN LB ON TS.MASACH = LB.MASACH
JOIN NHAXUATBAN NB ON LB.MANHAXB = NB.ID
LEFT JOIN CUONSACH CS ON LB.MALANXB = CS.MALANXB
GROUP BY
    LB.MALANXB,
    LB.MASACH,
    LB.LANXUATBAN,
    LB.NAMXUATBAN,
	NB.ID,
    NB.TEN,
    LB.KHOGIAY,
    LB.SOTRANG,
    LB.GIA,
    LB.CODIACD,
	LB.SOCUONNHAP;
GO
/****** Object:  View [dbo].[VIEW_LANXB_2]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VIEW_LANXB_2] AS
SELECT
    LB.MALANXB,
    LB.MASACH,
    LB.LANXUATBAN AS LANXB,
    LB.NAMXUATBAN AS NAMXB,
	NB.ID AS MANHAXB,
    NB.TEN AS NHAXB,
    LB.KHOGIAY,
    LB.SOTRANG,
    LB.GIA,
    LB.CODIACD,
    COALESCE(COUNT(CS.ID), 0) AS SOCUONNHAP
FROM TUASACH TS
JOIN TAILIEU TL ON TS.MATAILIEU = TL.MATAILIEU
JOIN LANXUATBAN LB ON TS.MASACH = LB.MASACH
JOIN NHAXUATBAN NB ON LB.MANHAXB = NB.ID
LEFT JOIN CUONSACH CS ON LB.MALANXB = CS.MALANXB
GROUP BY
    LB.MALANXB,
    LB.MASACH,
    LB.LANXUATBAN,
    LB.NAMXUATBAN,
	NB.ID,
    NB.TEN,
    LB.KHOGIAY,
    LB.SOTRANG,
    LB.GIA,
    LB.CODIACD;
GO
/****** Object:  View [dbo].[VIEW_NHANVIEN_LOGIN]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_NHANVIEN_LOGIN]
AS
SELECT MANHANVIEN, HO, TEN, PHAI, CHUCVU, TENDANGNHAP, MATKHAU, TRANGTHAI
FROM NHANVIEN
WHERE TENDANGNHAP = SUSER_SNAME();
GO
/****** Object:  View [dbo].[VIEW_TUASACH]    Script Date: 7/10/2023 12:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[VIEW_TUASACH] AS
SELECT
    TS.MASACH,
    TL.TENTAILIEU,
    STUFF((SELECT ', ' + TG.TENTACGIA
           FROM TACGIA TG
           JOIN CHITETSACH CT ON CT.MATACGIA = TG.MATACGIA
           WHERE CT.MASACH = TS.MASACH
           FOR XML PATH('')), 1, 2, '') AS TACGIA
FROM TUASACH TS
JOIN TAILIEU TL ON TS.MATAILIEU = TL.MATAILIEU
GROUP BY
    TS.MASACH,
    TL.TENTAILIEU
GO
SET IDENTITY_INSERT [dbo].[BAOTAPCHI] ON 

INSERT [dbo].[BAOTAPCHI] ([MABAO], [NAMPHATHANH], [DINHKY], [MANHAXB], [MATAILIEU]) VALUES (1, CAST(N'1955-02-15' AS Date), N'Thứ 4,6,7,CN.', 1, 6)
INSERT [dbo].[BAOTAPCHI] ([MABAO], [NAMPHATHANH], [DINHKY], [MANHAXB], [MATAILIEU]) VALUES (3, CAST(N'2016-08-19' AS Date), N'Hàng tháng', 5, 8)
INSERT [dbo].[BAOTAPCHI] ([MABAO], [NAMPHATHANH], [DINHKY], [MANHAXB], [MATAILIEU]) VALUES (11, CAST(N'2023-01-02' AS Date), N'Hàng tuần', 1, 7)
SET IDENTITY_INSERT [dbo].[BAOTAPCHI] OFF
GO
SET IDENTITY_INSERT [dbo].[CHITETSACH] ON 

INSERT [dbo].[CHITETSACH] ([ID], [MASACH], [MATACGIA]) VALUES (1, 1, 1)
INSERT [dbo].[CHITETSACH] ([ID], [MASACH], [MATACGIA]) VALUES (2, 2, 2)
INSERT [dbo].[CHITETSACH] ([ID], [MASACH], [MATACGIA]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[CHITETSACH] OFF
GO
SET IDENTITY_INSERT [dbo].[CUONSACH] ON 

INSERT [dbo].[CUONSACH] ([ID], [STT], [MALANXB], [TINHTRANG]) VALUES (1, 1, 1, N'Tốt')
INSERT [dbo].[CUONSACH] ([ID], [STT], [MALANXB], [TINHTRANG]) VALUES (3, 1, 2, N'Tốt')
INSERT [dbo].[CUONSACH] ([ID], [STT], [MALANXB], [TINHTRANG]) VALUES (5, 1, 3, N'Tốt')
SET IDENTITY_INSERT [dbo].[CUONSACH] OFF
GO
SET IDENTITY_INSERT [dbo].[DOCGIA] ON 

INSERT [dbo].[DOCGIA] ([SOTHEDOCGIA], [NGAYCAPTHE], [HO], [TEN], [NGHENGHIEP], [PHAI]) VALUES (1, CAST(N'2023-01-01' AS Date), N'Nguyễn Thị', N'C', N'Kỹ sư', N'Nữ')
INSERT [dbo].[DOCGIA] ([SOTHEDOCGIA], [NGAYCAPTHE], [HO], [TEN], [NGHENGHIEP], [PHAI]) VALUES (2, CAST(N'2023-01-02' AS Date), N'Lê Văn', N'D', N'Giáo viên', N'Nam')
INSERT [dbo].[DOCGIA] ([SOTHEDOCGIA], [NGAYCAPTHE], [HO], [TEN], [NGHENGHIEP], [PHAI]) VALUES (3, CAST(N'2023-01-03' AS Date), N'Trần Thị', N'E', N'Sinh viên', N'Nữ')
SET IDENTITY_INSERT [dbo].[DOCGIA] OFF
GO
SET IDENTITY_INSERT [dbo].[KYXUATBAN] ON 

INSERT [dbo].[KYXUATBAN] ([MAKYXB], [THOIGIANNHAP], [SOXUATBAN], [SOLUONGNHAP], [SOLUONGCON], [MABAO]) VALUES (1, CAST(N'2023-05-09' AS Date), N'1299', 30, 28, 1)
INSERT [dbo].[KYXUATBAN] ([MAKYXB], [THOIGIANNHAP], [SOXUATBAN], [SOLUONGNHAP], [SOLUONGCON], [MABAO]) VALUES (2, CAST(N'2023-06-01' AS Date), N'1300', 50, 48, 1)
INSERT [dbo].[KYXUATBAN] ([MAKYXB], [THOIGIANNHAP], [SOXUATBAN], [SOLUONGNHAP], [SOLUONGCON], [MABAO]) VALUES (3, CAST(N'2023-06-03' AS Date), N'1301', 50, 50, 1)
SET IDENTITY_INSERT [dbo].[KYXUATBAN] OFF
GO
SET IDENTITY_INSERT [dbo].[LANXUATBAN] ON 

INSERT [dbo].[LANXUATBAN] ([MALANXB], [LANXUATBAN], [NAMXUATBAN], [KHOGIAY], [SOTRANG], [MANHAXB], [GIA], [CODIACD], [MASACH], [SOCUONNHAP]) VALUES (1, N'1', CAST(N'2010-12-09' AS Date), N'13 x 20', N'378', 1, 138000, 1, 1, 2)
INSERT [dbo].[LANXUATBAN] ([MALANXB], [LANXUATBAN], [NAMXUATBAN], [KHOGIAY], [SOTRANG], [MANHAXB], [GIA], [CODIACD], [MASACH], [SOCUONNHAP]) VALUES (2, N'3', CAST(N'2018-05-05' AS Date), N'13 x 20', N'378', 1, 125000, 1, 1, 3)
INSERT [dbo].[LANXUATBAN] ([MALANXB], [LANXUATBAN], [NAMXUATBAN], [KHOGIAY], [SOTRANG], [MANHAXB], [GIA], [CODIACD], [MASACH], [SOCUONNHAP]) VALUES (3, N'1', CAST(N'2018-05-09' AS Date), N'13.5 x 20.5', N'250', 2, 54400, 0, 2, 2)
SET IDENTITY_INSERT [dbo].[LANXUATBAN] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [PHAI], [CHUCVU], [TENDANGNHAP], [MATKHAU], [TRANGTHAI]) VALUES (1, N'Nguyen Van', N'A', N'Nữ', N'Quản lý', N'admin', N'123', 1)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [PHAI], [CHUCVU], [TENDANGNHAP], [MATKHAU], [TRANGTHAI]) VALUES (2, N'Tran Thi', N'B', N'Nữ', N'Nhân viên', N'user1', N'123', 0)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [PHAI], [CHUCVU], [TENDANGNHAP], [MATKHAU], [TRANGTHAI]) VALUES (3, N'Lê Minh', N'C', N'Nam', N'Nhân viên', N'user2', N'123', 1)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] ON 

INSERT [dbo].[NHAXUATBAN] ([ID], [TEN], [DIACHI], [EMAIL], [SDT]) VALUES (1, N'NXB Trẻ', N'161B Lý Chính Thắng, Phường Võ Thị Sáu, Quận 3 , TP. Hồ Chí Minh
', N'hopthubandoc@nxbtre.com.vn', N'02839316289')
INSERT [dbo].[NHAXUATBAN] ([ID], [TEN], [DIACHI], [EMAIL], [SDT]) VALUES (2, N'NXB Văn Học', N'20 Đ. Nam Kỳ Khởi Nghĩa, Phường 8, Quận 3, Thành phố Hồ Chí Minh', N'info@nxbvanhoc.com.vn', N'02838469858')
INSERT [dbo].[NHAXUATBAN] ([ID], [TEN], [DIACHI], [EMAIL], [SDT]) VALUES (3, N'NXB Giáo Dục Việt Nam', N' Số 81 Trần Hưng Đạo, Hoàn Kiếm, Hà Nội.', N'nxbgd@moet.edu.vn', N'02438220801')
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUMUONBAO] ON 

INSERT [dbo].[PHIEUMUONBAO] ([MAMUON], [NGAYMUON], [NGAYTRA], [TRANGTHAITRA], [SOTHEDOCGIA], [MAKYXB], [MANHANVIENLAP]) VALUES (2, CAST(N'2023-05-01' AS Date), NULL, 0, 1, 1, 1)
INSERT [dbo].[PHIEUMUONBAO] ([MAMUON], [NGAYMUON], [NGAYTRA], [TRANGTHAITRA], [SOTHEDOCGIA], [MAKYXB], [MANHANVIENLAP]) VALUES (5, CAST(N'2023-06-20' AS Date), CAST(N'2023-05-29' AS Date), 1, 2, 3, 3)
INSERT [dbo].[PHIEUMUONBAO] ([MAMUON], [NGAYMUON], [NGAYTRA], [TRANGTHAITRA], [SOTHEDOCGIA], [MAKYXB], [MANHANVIENLAP]) VALUES (7, CAST(N'2023-06-10' AS Date), NULL, 0, 2, 5, 3)
SET IDENTITY_INSERT [dbo].[PHIEUMUONBAO] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUMUONSACH] ON 

INSERT [dbo].[PHIEUMUONSACH] ([MAMUON], [NGAYMUON], [NGAYTRA], [TRANGTHAITRA], [SOTHEDOCGIA], [IDCUONSACH], [MANHANVIENLAP]) VALUES (1, CAST(N'2023-05-02' AS Date), CAST(N'2023-05-23' AS Date), 1, 1, 1, 2)
INSERT [dbo].[PHIEUMUONSACH] ([MAMUON], [NGAYMUON], [NGAYTRA], [TRANGTHAITRA], [SOTHEDOCGIA], [IDCUONSACH], [MANHANVIENLAP]) VALUES (2, CAST(N'2023-05-20' AS Date), NULL, 0, 1, 11, 2)
INSERT [dbo].[PHIEUMUONSACH] ([MAMUON], [NGAYMUON], [NGAYTRA], [TRANGTHAITRA], [SOTHEDOCGIA], [IDCUONSACH], [MANHANVIENLAP]) VALUES (3, CAST(N'2023-05-20' AS Date), CAST(N'2023-05-29' AS Date), 1, 2, 8, 3)
SET IDENTITY_INSERT [dbo].[PHIEUMUONSACH] OFF
GO
SET IDENTITY_INSERT [dbo].[TACGIA] ON 

INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA], [NAMSINH]) VALUES (1, N'Nguyễn Nhật Ánh', CAST(N'1955-07-05' AS Date))
INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA], [NAMSINH]) VALUES (2, N'Nguyễn Du', CAST(N'1766-01-03' AS Date))
INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA], [NAMSINH]) VALUES (3, N'Phạm Văn Hải', CAST(N'1953-09-23' AS Date))
SET IDENTITY_INSERT [dbo].[TACGIA] OFF
GO
SET IDENTITY_INSERT [dbo].[TAILIEU] ON 

INSERT [dbo].[TAILIEU] ([MATAILIEU], [TENTAILIEU], [LOAITAILIEU]) VALUES (1, N'Tôi thấy hoa vàng trên cỏ xanh', N'Sách')
INSERT [dbo].[TAILIEU] ([MATAILIEU], [TENTAILIEU], [LOAITAILIEU]) VALUES (2, N'Thơ Nguyễn Du', N'Sách')
INSERT [dbo].[TAILIEU] ([MATAILIEU], [TENTAILIEU], [LOAITAILIEU]) VALUES (3, N'Lý thuyết đồ thị và ứng dụng', N'Sách')
SET IDENTITY_INSERT [dbo].[TAILIEU] OFF
GO
SET IDENTITY_INSERT [dbo].[TUASACH] ON 

INSERT [dbo].[TUASACH] ([MASACH], [MATAILIEU]) VALUES (1, 1)
INSERT [dbo].[TUASACH] ([MASACH], [MATAILIEU]) VALUES (2, 2)
INSERT [dbo].[TUASACH] ([MASACH], [MATAILIEU]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[TUASACH] OFF
GO
/****** Object:  Index [UQ_CUONSACH_ID]    Script Date: 7/10/2023 12:03:45 PM ******/
ALTER TABLE [dbo].[CUONSACH] ADD  CONSTRAINT [UQ_CUONSACH_ID] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_KYXUATBAN_SOXUATBAN_MABAO]    Script Date: 7/10/2023 12:03:45 PM ******/
ALTER TABLE [dbo].[KYXUATBAN] ADD  CONSTRAINT [UQ_KYXUATBAN_SOXUATBAN_MABAO] UNIQUE NONCLUSTERED 
(
	[SOXUATBAN] ASC,
	[MABAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_LANXUATBAN_LANXUATBAN_MASACH]    Script Date: 7/10/2023 12:03:45 PM ******/
ALTER TABLE [dbo].[LANXUATBAN] ADD  CONSTRAINT [UQ_LANXUATBAN_LANXUATBAN_MASACH] UNIQUE NONCLUSTERED 
(
	[LANXUATBAN] ASC,
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DOCGIA] ADD  CONSTRAINT [DF_DOCGIA_PHAI]  DEFAULT (N'NAM') FOR [PHAI]
GO
ALTER TABLE [dbo].[KYXUATBAN] ADD  CONSTRAINT [DF_KYXUATBAN_SOLUONGCON]  DEFAULT ((0)) FOR [SOLUONGCON]
GO
ALTER TABLE [dbo].[BAOTAPCHI]  WITH CHECK ADD  CONSTRAINT [FK_BAOTAPCHI_NHAXUATBAN] FOREIGN KEY([MANHAXB])
REFERENCES [dbo].[NHAXUATBAN] ([ID])
GO
ALTER TABLE [dbo].[BAOTAPCHI] CHECK CONSTRAINT [FK_BAOTAPCHI_NHAXUATBAN]
GO
ALTER TABLE [dbo].[BAOTAPCHI]  WITH NOCHECK ADD  CONSTRAINT [FK_BAOTAPCHI_TAILIEU] FOREIGN KEY([MATAILIEU])
REFERENCES [dbo].[TAILIEU] ([MATAILIEU])
GO
ALTER TABLE [dbo].[BAOTAPCHI] CHECK CONSTRAINT [FK_BAOTAPCHI_TAILIEU]
GO
ALTER TABLE [dbo].[CHITETSACH]  WITH CHECK ADD  CONSTRAINT [FK__CHITETSACH__MATACGIA] FOREIGN KEY([MATACGIA])
REFERENCES [dbo].[TACGIA] ([MATACGIA])
GO
ALTER TABLE [dbo].[CHITETSACH] CHECK CONSTRAINT [FK__CHITETSACH__MATACGIA]
GO
ALTER TABLE [dbo].[CHITETSACH]  WITH CHECK ADD  CONSTRAINT [FK__CHITETSACH__TUASACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[TUASACH] ([MASACH])
GO
ALTER TABLE [dbo].[CHITETSACH] CHECK CONSTRAINT [FK__CHITETSACH__TUASACH]
GO
ALTER TABLE [dbo].[CUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_CUONSACH_LANXUATBAN] FOREIGN KEY([MALANXB])
REFERENCES [dbo].[LANXUATBAN] ([MALANXB])
GO
ALTER TABLE [dbo].[CUONSACH] CHECK CONSTRAINT [FK_CUONSACH_LANXUATBAN]
GO
ALTER TABLE [dbo].[KYXUATBAN]  WITH CHECK ADD  CONSTRAINT [FK_KYXUATBAN_BAOTAPCHI] FOREIGN KEY([MABAO])
REFERENCES [dbo].[BAOTAPCHI] ([MABAO])
GO
ALTER TABLE [dbo].[KYXUATBAN] CHECK CONSTRAINT [FK_KYXUATBAN_BAOTAPCHI]
GO
ALTER TABLE [dbo].[LANXUATBAN]  WITH CHECK ADD  CONSTRAINT [FK_LANXB_NHAXB] FOREIGN KEY([MANHAXB])
REFERENCES [dbo].[NHAXUATBAN] ([ID])
GO
ALTER TABLE [dbo].[LANXUATBAN] CHECK CONSTRAINT [FK_LANXB_NHAXB]
GO
ALTER TABLE [dbo].[LANXUATBAN]  WITH CHECK ADD  CONSTRAINT [FK_LANXB_TUASACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[TUASACH] ([MASACH])
GO
ALTER TABLE [dbo].[LANXUATBAN] CHECK CONSTRAINT [FK_LANXB_TUASACH]
GO
ALTER TABLE [dbo].[PHIEUMUONBAO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUONBAO_DOCGIA] FOREIGN KEY([SOTHEDOCGIA])
REFERENCES [dbo].[DOCGIA] ([SOTHEDOCGIA])
GO
ALTER TABLE [dbo].[PHIEUMUONBAO] CHECK CONSTRAINT [FK_PHIEUMUONBAO_DOCGIA]
GO
ALTER TABLE [dbo].[PHIEUMUONBAO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUONBAO_KYXB] FOREIGN KEY([MAKYXB])
REFERENCES [dbo].[KYXUATBAN] ([MAKYXB])
GO
ALTER TABLE [dbo].[PHIEUMUONBAO] CHECK CONSTRAINT [FK_PHIEUMUONBAO_KYXB]
GO
ALTER TABLE [dbo].[PHIEUMUONBAO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUONBAO_NHANVIEN] FOREIGN KEY([MANHANVIENLAP])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[PHIEUMUONBAO] CHECK CONSTRAINT [FK_PHIEUMUONBAO_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUMUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUONSACH_CUONSACH] FOREIGN KEY([IDCUONSACH])
REFERENCES [dbo].[CUONSACH] ([ID])
GO
ALTER TABLE [dbo].[PHIEUMUONSACH] CHECK CONSTRAINT [FK_PHIEUMUONSACH_CUONSACH]
GO
ALTER TABLE [dbo].[PHIEUMUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUONSACH_DOCGIA] FOREIGN KEY([SOTHEDOCGIA])
REFERENCES [dbo].[DOCGIA] ([SOTHEDOCGIA])
GO
ALTER TABLE [dbo].[PHIEUMUONSACH] CHECK CONSTRAINT [FK_PHIEUMUONSACH_DOCGIA]
GO
ALTER TABLE [dbo].[PHIEUMUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUONSACH_NHANVIEN] FOREIGN KEY([MANHANVIENLAP])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[PHIEUMUONSACH] CHECK CONSTRAINT [FK_PHIEUMUONSACH_NHANVIEN]
GO
ALTER TABLE [dbo].[TUASACH]  WITH CHECK ADD  CONSTRAINT [FK_TUASACH_TAILIEU] FOREIGN KEY([MATAILIEU])
REFERENCES [dbo].[TAILIEU] ([MATAILIEU])
GO
ALTER TABLE [dbo].[TUASACH] CHECK CONSTRAINT [FK_TUASACH_TAILIEU]
GO
ALTER TABLE [dbo].[DOCGIA]  WITH CHECK ADD  CONSTRAINT [CK_PHAI] CHECK  (([PHAI]=N'NAM' OR [PHAI]=N'NỮ'))
GO
ALTER TABLE [dbo].[DOCGIA] CHECK CONSTRAINT [CK_PHAI]
GO
ALTER TABLE [dbo].[PHIEUMUONBAO]  WITH CHECK ADD  CONSTRAINT [CK_PHIEUMUONBAO_TRANGTHAITRA] CHECK  (([NGAYTRA] IS NULL AND [TRANGTHAITRA]=(0) OR [NGAYTRA] IS NOT NULL AND [TRANGTHAITRA]=(1)))
GO
ALTER TABLE [dbo].[PHIEUMUONBAO] CHECK CONSTRAINT [CK_PHIEUMUONBAO_TRANGTHAITRA]
GO
ALTER TABLE [dbo].[PHIEUMUONSACH]  WITH CHECK ADD  CONSTRAINT [CK_PHIEUMUONSACH_TRANGTHAITRA] CHECK  (([NGAYTRA] IS NULL AND [TRANGTHAITRA]=(0) OR [NGAYTRA] IS NOT NULL AND [TRANGTHAITRA]=(1)))
GO
ALTER TABLE [dbo].[PHIEUMUONSACH] CHECK CONSTRAINT [CK_PHIEUMUONSACH_TRANGTHAITRA]
GO
/****** Object:  StoredProcedure [dbo].[GrantPermissionsToNhanVienRole]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GrantPermissionsToNhanVienRole]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Cấp quyền cao nhất trong database cho role Nhanvien
    GRANT CONTROL ON DATABASE::QLTV_TTCS TO Nhanvien;
    
    -- Chặn truy cập với table NHANVIEN cho role Nhanvien
    DENY SELECT, INSERT, UPDATE, DELETE ON dbo.NHANVIEN TO Nhanvien;
    
    -- Chặn thay đổi cấu trúc bảng NHANVIEN
    DENY ALTER ON OBJECT::dbo.NHANVIEN TO Nhanvien;
    
    -- Chặn tạo/xóa khóa ngoại trên bảng NHANVIEN
    DENY REFERENCES ON OBJECT::dbo.NHANVIEN TO Nhanvien;
    
    -- Chặn thực thi các stored procedure trên bảng NHANVIEN
    DENY EXECUTE ON OBJECT::dbo.NHANVIEN TO Nhanvien;
    
    -- Chặn xem định nghĩa bảng NHANVIEN
    DENY VIEW DEFINITION ON OBJECT::dbo.NHANVIEN TO Nhanvien;
END
GO
/****** Object:  StoredProcedure [dbo].[GrantPermissionsToQuanlyRole]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GrantPermissionsToQuanlyRole]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Cấp quyền cao nhất trong database cho role Quanly
    GRANT CONTROL ON DATABASE::QLTV_TTCS TO Quanly;
 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_BAOTAPCHI]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_ADD_BAOTAPCHI]
    @NamPhatHanh DATE,
    @DinhKy NVARCHAR(50),
    @MaNhaXB INT,
    @MaTaiLieu INT,
    @SoXuatBan INT,
    @SoLuongNhap INT
AS
BEGIN
    -- Thêm thông tin vào bảng BAOTAPCHI
    INSERT INTO BAOTAPCHI (NAMPHATHANH, DINHKY, MANHAXB, MATAILIEU)
    VALUES (@NamPhatHanh, @DinhKy, @MaNhaXB, @MaTaiLieu)

    -- Lấy ID của báo tạp chí vừa thêm
    DECLARE @MaBao INT
    SET @MaBao = SCOPE_IDENTITY()

    -- Thêm thông tin vào bảng KYXUATBAN
    INSERT INTO KYXUATBAN (THOIGIANNHAP, SOXUATBAN, SOLUONGNHAP, SOLUONGCON, MABAO)
    VALUES (GETDATE(), @SoXuatBan, @SoLuongNhap, @SoLuongNhap, @MaBao)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_BAOTAPCHI_3]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_ADD_BAOTAPCHI_3]
    @NamPhatHanh DATE,
    @DinhKy NVARCHAR(50),
    @MaNhaXB INT,
    @MaTaiLieu INT
AS
BEGIN
    -- Thêm thông tin vào bảng BAOTAPCHI
    INSERT INTO BAOTAPCHI (NAMPHATHANH, DINHKY, MANHAXB, MATAILIEU)
    VALUES (@NamPhatHanh, @DinhKy, @MaNhaXB, @MaTaiLieu)

END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_CUONSACH]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ADD_CUONSACH]
	@SoLuongNhap INT,
    @MaLanXB INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Tìm số thứ tự cao nhất đã tồn tại cho mã lần xuất bản hiện tại
    DECLARE @MaxSTT INT;
    SELECT @MaxSTT = MAX(STT)
    FROM CUONSACH
    WHERE MALANXB = @MaLanXB;

    -- Nếu không có cuốn sách nào tồn tại cho mã lần xuất bản này, đặt số thứ tự bắt đầu từ 1
    IF @MaxSTT IS NULL
        SET @MaxSTT = 0;

    DECLARE @Counter INT = @MaxSTT + 1;
    
    WHILE @Counter <= @MaxSTT + @SoLuongNhap
    BEGIN
        INSERT INTO CUONSACH (STT, MALANXB, TINHTRANG)
        VALUES (@Counter, @MaLanXB, N'Tốt');
        SET @Counter += 1;
    END;
   
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_KYXUATBAN]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADD_KYXUATBAN]
    @SOXUATBAN INT,
    @SOLUONGNHAP INT,
    @MABAO INT
AS
BEGIN

    INSERT INTO [dbo].[KYXUATBAN] ([THOIGIANNHAP], [SOXUATBAN], [SOLUONGNHAP], [SOLUONGCON], [MABAO])
    VALUES (GETDATE(), @SOXUATBAN, @SOLUONGNHAP, @SOLUONGNHAP, @MABAO)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_LANXUATBAN]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADD_LANXUATBAN]
    @LANXUATBAN INT,
    @NAMXUATBAN DATE,
    @KHOGIAY NVARCHAR(30),
    @SOTRANG INT,
    @MANHAXB INT,
    @GIA REAL,
    @CODIACD BIT,
    @MASACH INT
AS
BEGIN
    INSERT INTO [dbo].[LANXUATBAN] ([LANXUATBAN], [NAMXUATBAN], [KHOGIAY], [SOTRANG], [MANHAXB], [GIA], [CODIACD], [MASACH], [SOCUONNHAP])
    VALUES (@LANXUATBAN, @NAMXUATBAN, @KHOGIAY, @SOTRANG, @MANHAXB, @GIA, @CODIACD, @MASACH, 0)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_PHIEUMUONBAO]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADD_PHIEUMUONBAO]
    @NgayMuon date,
    @NgayTra date,
    @TrangThaiTra bit,
    @SoTheDocGia int,
    @MaKyXB int,
    @MaNhanVienLap int
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @NgayTraDate date;

    IF @NgayTra = ''
        SET @NgayTraDate = NULL;
    ELSE
        SET @NgayTraDate = CONVERT(date, @NgayTra, 103)
    INSERT INTO PHIEUMUONBAO (NGAYMUON, NGAYTRA, TRANGTHAITRA, SOTHEDOCGIA, MAKYXB, MANHANVIENLAP)
    VALUES (@NgayMuon, @NgayTraDate, @TrangThaiTra, @SoTheDocGia, @MaKyXB, @MaNhanVienLap);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_PHIEUMUONSACH]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADD_PHIEUMUONSACH]
    @NgayMuon date,
    @NgayTra varchar(10),
    @TrangThaiTra bit,
    @SoTheDocGia int,
    @IDCuonSach int,
    @MaNhanVienLap int
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @NgayTraDate date;

    IF @NgayTra = ''
        SET @NgayTraDate = NULL;
    ELSE
        SET @NgayTraDate = CONVERT(date, @NgayTra, 103)

    INSERT INTO PHIEUMUONSACH (NGAYMUON, NGAYTRA, TRANGTHAITRA, SOTHEDOCGIA, IDCUONSACH, MANHANVIENLAP)
    VALUES (@NgayMuon, @NgayTraDate, @TrangThaiTra, @SoTheDocGia, @IDCuonSach, @MaNhanVienLap);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_TUASACH]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_ADD_TUASACH]
    @MaTaiLieu INT,
	@MaTacGiaList VARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    -- Thêm bản ghi vào table TUASACH
    INSERT INTO TUASACH (MATAILIEU)
    VALUES (@MaTaiLieu);
	DECLARE @MaSach INT
    -- Lấy giá trị của cột MASACH sau khi chèn
    SET @MaSach = SCOPE_IDENTITY();

    -- Tách danh sách các mã tác giả
    DECLARE @MaTacGiaTable TABLE (MATACGIA INT);
    INSERT INTO @MaTacGiaTable
    SELECT value FROM DBO.STRING_SPLIT(@MaTacGiaList, ',');

    -- Thêm các tác giả vào bảng CHITETSACH (nếu chưa tồn tại)
    INSERT INTO CHITETSACH (MASACH, MATACGIA)
    SELECT @MaSach, MATACGIA FROM @MaTacGiaTable
    WHERE NOT EXISTS (
        SELECT 1 FROM CHITETSACH WHERE MASACH = @MaSach AND MATACGIA = MATACGIA
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_BAOTAPCHI]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DELETE_BAOTAPCHI]
    @MaBao VARCHAR(50)
AS
BEGIN
   -- Kiểm tra trạng thái của báo tạp chí
    IF EXISTS (
        SELECT 1
        FROM PHIEUMUONBAO PM
        INNER JOIN KYXUATBAN KX ON PM.MAKYXB = KX.MAKYXB
        WHERE KX.MABAO = @MaBao AND PM.TRANGTHAITRA = 0
    )    
	BEGIN
        -- Báo tạp chí đang được mượn, không thể cập nhật thông tin
        PRINT N'Báo tạp chí đang được mượn, không thể xóa thông tin.'
        RETURN
    END
    
    DELETE FROM KYXUATBAN WHERE MABAO = CAST(@MaBao AS INT)

    DELETE FROM BAOTAPCHI WHERE MABAO = CAST(@MaBao AS INT)
	PRINT N'Đã xóa thông tin.'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_BAOTAPCHI_3]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DELETE_BAOTAPCHI_3]
    @MaBao VARCHAR(50)
AS
BEGIN
   -- Kiểm tra trạng thái của báo tạp chí
    IF EXISTS (
        SELECT 1
        FROM PHIEUMUONBAO PM
        INNER JOIN KYXUATBAN KX ON PM.MAKYXB = KX.MAKYXB
        WHERE KX.MABAO = @MaBao AND PM.TRANGTHAITRA = 0
    )    
	BEGIN
        -- Báo tạp chí đang được mượn, không thể cập nhật thông tin
        PRINT N'Báo tạp chí đang được mượn, không thể xóa thông tin.'
        RETURN
    END

    DELETE FROM BAOTAPCHI WHERE MABAO = CAST(@MaBao AS INT)
	PRINT N'Đã xóa thông tin.'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_CUONSACH]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DELETE_CUONSACH]
	@ID INT
AS
BEGIN
	SET NOCOUNT ON;

	DELETE FROM CUONSACH
	WHERE ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_KYXUATBAN]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_KYXUATBAN]
    @MAKYXB INT
AS
BEGIN
    -- Kiểm tra xem có phiếu mượn báo thuộc kỳ xuất bản này đang được mượn hay không
    IF EXISTS (
        SELECT 1
        FROM [dbo].[PHIEUMUONBAO]
        WHERE [MAKYXB] = @MAKYXB AND [TRANGTHAITRA] = 0
    )
    BEGIN
        PRINT N'Không thể xóa kỳ xuất bản. Có phiếu mượn báo đang được mượn.'
        RETURN
    END

    DELETE FROM [dbo].[KYXUATBAN]
    WHERE [MAKYXB] = @MAKYXB
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_LANXUATBAN]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_LANXUATBAN]
    @MALANXB INT
AS
BEGIN
    -- Kiểm tra xem có cuốn sách nào thuộc lần xuất bản này đang được độc giả mượn hay không
    IF NOT EXISTS (SELECT 1 FROM PHIEUMUONSACH PMS
                   JOIN CUONSACH CS ON PMS.IDCUONSACH = CS.ID
                   WHERE CS.MALANXB = @MALANXB AND PMS.TRANGTHAITRA = 0)
    BEGIN
        DELETE FROM LANXUATBAN
        WHERE MALANXB = @MALANXB;
    END
    ELSE
    BEGIN
        PRINT(N'Các cuốn sách thuộc lần xuất bản này đang được mượn');
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_PHIEUMUONBAO]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_PHIEUMUONBAO]
    @MaMuon int
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM PHIEUMUONBAO WHERE MAMUON = @MaMuon;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_PHIEUMUONSACH]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_PHIEUMUONSACH]
    @MaMuon int
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM PHIEUMUONSACH WHERE MAMUON = @MaMuon;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_TUASACH]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DELETE_TUASACH]
	@MaSach INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Xóa các bản ghi trong bảng CHITETSACH liên quan đến lần xuất bản cần xóa
    DELETE FROM CHITETSACH
    WHERE MASACH = @MaSach;

    -- Xóa các bản ghi trong bảng CUONSACH liên quan đến lần xuất bản cần xóa
    DELETE FROM CUONSACH
    WHERE MALANXB IN (SELECT MALANXB FROM LANXUATBAN WHERE MASACH = @MaSach);

    -- Xóa bản ghi trong bảng LANXUATBAN (lần xuất bản) cần xóa
    DELETE FROM LANXUATBAN
    WHERE MALANXB IN (SELECT MALANXB FROM LANXUATBAN WHERE MASACH = @MaSach);

	DELETE FROM TUASACH
	WHERE TUASACH.MASACH=@MaSach;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCH_BAOTAPCHI]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SEARCH_BAOTAPCHI]
(
    @MAKYXB VARCHAR(50) = NULL,
    @THOIGIANNHAP NVARCHAR(50) = NULL,
    @SOXUATBAN INT = NULL,
    @SOLUONGNHAP INT = NULL,
    @SOLUONGCON INT = NULL,
    @MABAO VARCHAR(50) = NULL,
    @NAMPHATHANH DATE = NULL,
    @DINHKY NVARCHAR(50) = NULL,
    @MANHAXB INT = NULL,
	@TENNHAXB NVARCHAR(100) = NULL,
	@MATAILIEU INT = NULL,
    @TENTAILIEU NVARCHAR(100) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        KYXUATBAN.MAKYXB,
        KYXUATBAN.THOIGIANNHAP,
        KYXUATBAN.SOXUATBAN,
        KYXUATBAN.SOLUONGNHAP,
        KYXUATBAN.SOLUONGCON,
        KYXUATBAN.MABAO,
        BAOTAPCHI.NAMPHATHANH,
        BAOTAPCHI.DINHKY,
        BAOTAPCHI.MANHAXB,
        NHAXUATBAN.TEN AS TENNHAXB,
        BAOTAPCHI.MATAILIEU,
        TAILIEU.TENTAILIEU
    FROM
        KYXUATBAN
        JOIN BAOTAPCHI ON KYXUATBAN.MABAO = BAOTAPCHI.MABAO
        JOIN TAILIEU ON BAOTAPCHI.MATAILIEU = TAILIEU.MATAILIEU
        JOIN NHAXUATBAN ON NHAXUATBAN.ID = BAOTAPCHI.MANHAXB 
    WHERE
        (ISNULL(@MAKYXB, '') = '' OR KYXUATBAN.MAKYXB = @MAKYXB)
        AND (ISNULL(@THOIGIANNHAP, '') = '' OR KYXUATBAN.THOIGIANNHAP LIKE '%' + @THOIGIANNHAP + '%')
        AND (ISNULL(@SOXUATBAN, 0) = 0 OR KYXUATBAN.SOXUATBAN = @SOXUATBAN)
        AND (ISNULL(@SOLUONGNHAP, 0) = 0 OR KYXUATBAN.SOLUONGNHAP = @SOLUONGNHAP)
        AND (ISNULL(@SOLUONGCON, 0) = 0 OR KYXUATBAN.SOLUONGCON = @SOLUONGCON)
        AND (ISNULL(@MABAO, '') = '' OR KYXUATBAN.MABAO = @MABAO)
        AND (ISNULL(@NAMPHATHANH, '') = '' OR BAOTAPCHI.NAMPHATHANH = @NAMPHATHANH)
        AND (ISNULL(@DINHKY, '') = '' OR BAOTAPCHI.DINHKY LIKE '%' + @DINHKY + '%')
        AND (ISNULL(@MANHAXB, 0) = 0 OR BAOTAPCHI.MANHAXB = @MANHAXB)
		AND (ISNULL(@TENNHAXB, '') = '' OR NHAXUATBAN.TEN LIKE '%' + @TENNHAXB + '%')
		AND (ISNULL(@MATAILIEU, 0) = 0 OR TAILIEU.MATAILIEU = @MATAILIEU)
        AND (ISNULL(@TENTAILIEU, '') = '' OR TAILIEU.TENTAILIEU LIKE '%' + @TENTAILIEU + '%')
    ORDER BY
        KYXUATBAN.THOIGIANNHAP;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCH_CUONSACH_IN_LANXB]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SEARCH_CUONSACH_IN_LANXB]
    @MaLanXB INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM VIEW_CUONSACH
    WHERE VIEW_CUONSACH.MALANXB = @MaLanXB;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCH_DETAILS_CUONSACH]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SEARCH_DETAILS_CUONSACH]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM VIEW_CUONSACH
    WHERE VIEW_CUONSACH.ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCH_DOCGIA]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_SEARCH_DOCGIA]
    @SoTheDocGia INT = NULL,
    @NgayCap DATE = NULL,
    @Ho NVARCHAR(30) = NULL,
    @Ten NVARCHAR(30) = NULL,
    @NgheNghiep NVARCHAR(30) = NULL,
    @Phai NVARCHAR(30) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM DOCGIA
    WHERE
        (ISNULL(@SoTheDocGia, '') = '' OR SoTheDocGia = @SoTheDocGia)
        AND (ISNULL(@NgayCap, '') = '' OR NgayCapThe = @NgayCap)
        AND (ISNULL(@Ho, '') = '' OR Ho LIKE '%' + @Ho + '%')
        AND (ISNULL(@Ten, '') = '' OR Ten LIKE '%' + @Ten + '%')
        AND (ISNULL(@NgheNghiep, '') = '' OR NgheNghiep LIKE '%' + @NgheNghiep + '%')
        AND (ISNULL(@Phai, '') = '' OR Phai LIKE '%' + @Phai + '%');
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCH_KYXB_IN_BAOTAPCHI]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_SEARCH_KYXB_IN_BAOTAPCHI]
    @MABAO INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM VIEW_KYXB
    WHERE VIEW_KYXB.MABAO = @MABAO;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCH_LANXB_IN_TUASACH]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_SEARCH_LANXB_IN_TUASACH]
    @MASACH INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM VIEW_LANXB
    WHERE VIEW_LANXB.MASACH = @MASACH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCH_SACH]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SEARCH_SACH]
	@ID INT = NULL,
	@STT INT = NULL,
	@MALANXUATBAN INT = NULL,
	@MASACH INT = NULL,
	@TINHTRANG nvarchar(30) = NULL,
	@TENTAILIEU nvarchar(100) = NULL,
	@TACGIA nvarchar(30) = NULL,
	@LANXUATBAN nvarchar(30) = NULL,
	@NAMXUATBAN date = NULL,
	@KHOGIAY nvarchar(30) = NULL,
	@SOTRANG nvarchar(30) = NULL,
	@TEN nvarchar(50) = NULL,
	@GIA real = NULL,
	@CODIACD BIT = NULL
AS
	BEGIN
		SELECT * FROM VIEW_CUONSACH WHERE
		(ISNULL (@ID, '') = '' OR VIEW_CUONSACH.ID = @ID) AND
		(ISNULL (@STT, '') = '' OR VIEW_CUONSACH.STT = @STT) AND
		(ISNULL (@MALANXUATBAN, '') = '' OR VIEW_CUONSACH.MALANXB = @MALANXUATBAN) AND
		(ISNULL (@MASACH, '') = '' OR VIEW_CUONSACH.MASACH = @MASACH) AND
		(ISNULL (@TINHTRANG, '') = '' OR VIEW_CUONSACH.TINHTRANG LIKE '%' + @TINHTRANG + '%') AND
		(ISNULL (@TENTAILIEU, '') = '' OR VIEW_CUONSACH.TENTAILIEU LIKE '%' + @TENTAILIEU + '%') AND
		(ISNULL (@TACGIA, '') = '' OR VIEW_CUONSACH.TACGIA LIKE '%' + @TACGIA + '%') AND
		(ISNULL (@LANXUATBAN, '') = '' OR VIEW_CUONSACH.LANXUATBAN LIKE '%' + @LANXUATBAN + '%') AND
		(ISNULL (@NAMXUATBAN, '') = '' OR VIEW_CUONSACH.NAMXUATBAN = @NAMXUATBAN) AND
		(ISNULL (@KHOGIAY, '') = '' OR VIEW_CUONSACH.LANXUATBAN LIKE '%' + @LANXUATBAN + '%') AND
		(ISNULL (@SOTRANG, '') = '' OR VIEW_CUONSACH.KHOGIAY LIKE '%' + @KHOGIAY + '%') AND
		(ISNULL (@TEN, '') = '' OR VIEW_CUONSACH.NHAXUATBAN LIKE '%' + @TEN + '%') AND
		(ISNULL (@GIA, '') = '' OR VIEW_CUONSACH.GIA = @GIA) AND
		(ISNULL (@CODIACD, '') = '' OR VIEW_CUONSACH.CODIACD = @CODIACD)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_STATISTICS_SOLUOTMUON_BAO]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_STATISTICS_SOLUOTMUON_BAO]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT T.TENTAILIEU, COUNT(PMB.MAKYXB) AS SOLUOTMUON
    FROM TAILIEU T
    LEFT JOIN BAOTAPCHI B ON T.MATAILIEU = B.MATAILIEU
    LEFT JOIN KYXUATBAN KYXB ON B.MABAO = KYXB.MABAO
    LEFT JOIN PHIEUMUONBAO PMB ON KYXB.MAKYXB = PMB.MAKYXB
    WHERE T.LOAITAILIEU = N'Báo-Tạp chí'
    GROUP BY T.TENTAILIEU
    ORDER BY SOLUOTMUON DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_STATISTICS_SOLUOTMUON_SACH]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_STATISTICS_SOLUOTMUON_SACH]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT T.TENTAILIEU, COUNT(PMS.IDCUONSACH) AS SOLUOTMUON
    FROM TAILIEU T
    LEFT JOIN TUASACH TS ON T.MATAILIEU = TS.MATAILIEU
    LEFT JOIN LANXUATBAN LXB ON TS.MASACH = LXB.MASACH
    LEFT JOIN CUONSACH CS ON LXB.MALANXB = CS.MALANXB
    LEFT JOIN PHIEUMUONSACH PMS ON CS.ID = PMS.IDCUONSACH
    WHERE T.LOAITAILIEU = 'Sách'
    GROUP BY T.TENTAILIEU
    ORDER BY SOLUOTMUON DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_BAOTAPCHI]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_UPDATE_BAOTAPCHI]
    @MaBao INT,
    @NamPhatHanh DATE,
    @DinhKy NVARCHAR(50),
    @MaNhaXB INT,
    @MaTaiLieu INT,
    @SoXuatBan INT,
    @SoLuongNhap INT
AS
BEGIN
	-- Kiểm tra trạng thái của báo tạp chí
    IF EXISTS (
        SELECT 1
        FROM PHIEUMUONBAO PM
        JOIN KYXUATBAN KX ON PM.MAKYXB = KX.MAKYXB
        WHERE KX.MABAO = @MaBao AND PM.TRANGTHAITRA = 0
    )
    BEGIN
        PRINT N'Báo tạp chí đang được mượn, không thể cập nhật thông tin.'
        RETURN
    END
    -- Cập nhật thông tin trong bảng BAOTAPCHI
    UPDATE BAOTAPCHI
    SET NAMPHATHANH = @NamPhatHanh,
        DINHKY = @DinhKy,
        MANHAXB = @MaNhaXB,
        MATAILIEU = @MaTaiLieu
    WHERE MABAO = @MaBao

    -- Cập nhật thông tin trong bảng KYXUATBAN
    UPDATE KYXUATBAN
    SET THOIGIANNHAP = GETDATE(),
		SOXUATBAN = @SoXuatBan,
        SOLUONGNHAP = @SoLuongNhap
    WHERE MABAO = @MaBao
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_BAOTAPCHI_3]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_UPDATE_BAOTAPCHI_3]
    @MaBao INT,
    @NamPhatHanh DATE,
    @DinhKy NVARCHAR(50),
    @MaNhaXB INT,
    @MaTaiLieu INT
AS
BEGIN
	-- Kiểm tra trạng thái của báo tạp chí
    IF EXISTS (
        SELECT 1
        FROM PHIEUMUONBAO PM
        JOIN KYXUATBAN KX ON PM.MAKYXB = KX.MAKYXB
        WHERE KX.MABAO = @MaBao AND PM.TRANGTHAITRA = 0
    )
    BEGIN
        PRINT N'Báo tạp chí đang được mượn, không thể cập nhật thông tin.'
        RETURN
    END
    -- Cập nhật thông tin trong bảng BAOTAPCHI
    UPDATE BAOTAPCHI
    SET NAMPHATHANH = @NamPhatHanh,
        DINHKY = @DinhKy,
        MANHAXB = @MaNhaXB,
        MATAILIEU = @MaTaiLieu
    WHERE MABAO = @MaBao
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_CUONSACH]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UPDATE_CUONSACH]
	@ID INT,
	@TINHTRANG NVARCHAR(30)
AS
BEGIN
	SET NOCOUNT ON;

	UPDATE CUONSACH
	SET TINHTRANG = @TINHTRANG
	WHERE ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_KYXUATBAN]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_KYXUATBAN]
	@MAKYXB INT,
    @SOXUATBAN INT,
    @SOLUONGNHAP INT,
    @MABAO INT
AS
BEGIN
    -- Kiểm tra xem có phiếu mượn báo thuộc kỳ xuất bản này đang được mượn hay không
    IF EXISTS (
        SELECT 1
        FROM [dbo].[PHIEUMUONBAO]
        WHERE [MAKYXB] = @MAKYXB AND [TRANGTHAITRA] = 0
    )
    BEGIN
        PRINT N'Không thể cập nhật kỳ xuất bản. Có phiếu mượn báo đang được mượn.'
        RETURN
    END

    UPDATE [dbo].[KYXUATBAN]
    SET [THOIGIANNHAP] = GETDATE(),
        [SOXUATBAN] = @SOXUATBAN,   
        [SOLUONGCON] = (SOLUONGNHAP-SOLUONGCON)+@SOLUONGNHAP,
		[SOLUONGNHAP] = @SOLUONGNHAP,
        [MABAO] = @MABAO
    WHERE [MAKYXB] = @MAKYXB
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_LANXUATBAN]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_LANXUATBAN]
    @MALANXB INT,
    @LANXUATBAN NVARCHAR(30),
    @NAMXUATBAN DATE,
    @KHOGIAY NVARCHAR(30),
    @SOTRANG NVARCHAR(30),
    @MANHAXB INT,
    @GIA REAL,
    @CODIACD BIT,
    @MASACH INT
AS
BEGIN
    -- Kiểm tra xem có cuốn sách nào thuộc lần xuất bản này đang được độc giả mượn hay không
    IF NOT EXISTS (SELECT 1 FROM PHIEUMUONSACH PMS
                   JOIN CUONSACH CS ON PMS.IDCUONSACH = CS.ID
                   JOIN LANXUATBAN LB ON CS.MALANXB = LB.MALANXB
                   WHERE LB.MALANXB = @MALANXB AND PMS.TRANGTHAITRA = 0)
    BEGIN
        UPDATE LANXUATBAN
        SET LANXUATBAN = @LANXUATBAN,
            NAMXUATBAN = @NAMXUATBAN,
            KHOGIAY = @KHOGIAY,
            SOTRANG = @SOTRANG,
            MANHAXB = @MANHAXB,
            GIA = @GIA,
            CODIACD = @CODIACD,
            MASACH = @MASACH
        WHERE MALANXB = @MALANXB;
    END
    ELSE
    BEGIN
        PRINT(N'Các cuốn sách thuộc lần xuất bản này đang được mượn');
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_PHIEUMUONBAO]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_PHIEUMUONBAO]
    @MaMuon int,
    @NgayMuon date,
    @NgayTra date,
    @TrangThaiTra bit,
    @SoTheDocGia int,
    @MaKyXB int,
    @MaNhanVienLap int
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @NgayTraDate date;

    IF @NgayTra = ''
        SET @NgayTraDate = NULL;
    ELSE
        SET @NgayTraDate = CONVERT(date, @NgayTra, 103)
    UPDATE PHIEUMUONBAO
    SET NGAYMUON = @NgayMuon,
        NGAYTRA = @NgayTraDate,
        TRANGTHAITRA = @TrangThaiTra,
        SOTHEDOCGIA = @SoTheDocGia,
        MAKYXB = @MaKyXB,
        MANHANVIENLAP = @MaNhanVienLap
    WHERE MAMUON = @MaMuon;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_PHIEUMUONSACH]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_PHIEUMUONSACH]
    @MaMuon int,
    @NgayMuon date,
    @NgayTra varchar(10),
    @TrangThaiTra bit,
    @SoTheDocGia int,
    @IDCuonSach int,
    @MaNhanVienLap int
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @NgayTraDate date;

    IF @NgayTra = ''
        SET @NgayTraDate = NULL;
    ELSE
        SET @NgayTraDate = CONVERT(date, @NgayTra, 103)
    UPDATE PHIEUMUONSACH
    SET NGAYMUON = @NgayMuon,
        NGAYTRA = @NgayTraDate,
        TRANGTHAITRA = @TrangThaiTra,
        SOTHEDOCGIA = @SoTheDocGia,
        IDCUONSACH = @IDCuonSach,
        MANHANVIENLAP = @MaNhanVienLap
    WHERE MAMUON = @MaMuon;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_SOLUONGCON]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_SOLUONGCON]
AS
BEGIN
    UPDATE KYXUATBAN
    SET SOLUONGCON = KYXUATBAN.SOLUONGNHAP - (
        SELECT COUNT(*)
        FROM PHIEUMUONBAO
        WHERE PHIEUMUONBAO.MAKYXB = KYXUATBAN.MAKYXB
            AND PHIEUMUONBAO.TRANGTHAITRA = 0
    )
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_TUASACH]    Script Date: 7/10/2023 12:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UPDATE_TUASACH]
	@MaSach INT,
    @MaTaiLieu INT,
	@MaTacGiaList NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;


    -- Cập nhật thông tin trong bảng TUASACH
    UPDATE TUASACH
    SET MATAILIEU = @MaTaiLieu
    WHERE MASACH = @MaSach;

    -- Xóa tất cả các tác giả hiện tại của tựa sách trong bảng CHITETSACH
    DELETE FROM CHITETSACH WHERE MASACH = @MaSach;

    -- Tách danh sách các mã tác giả
    DECLARE @MaTacGiaTable TABLE (MATACGIA INT);
    INSERT INTO @MaTacGiaTable
    SELECT value FROM DBO.STRING_SPLIT(@MaTacGiaList, ',');

    -- Thêm các tác giả mới vào bảng CHITETSACH
    INSERT INTO CHITETSACH (MASACH, MATACGIA)
    SELECT @MaSach, MATACGIA FROM @MaTacGiaTable;

    -- Trả về thông báo thành công
    SELECT N'Cập nhật tựa sách thành công.' AS [Message];
END;
GO
